body {
  text-align: center;
  color: #0429d7;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-size: 36px;
  line-height: 1.5; /* Melhora a legibilidade */
  letter-spacing: 0.03em; /* Aumenta o espaçamento entre letras */
}

nav {
  text-align: right;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.lang {
  display: none;
}
.lang.active {
  display: block;
}

.myButton {
  box-shadow: inset 0px 1px 0px 0px #54a3f7;
  background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
  background-color: #007dc1;
  border-radius: 3px;
  border: 1px solid #124d77;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial, sans-serif;
  font-size: 13px;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #154682;
  line-height: 1.4; /* Ajuste para melhor alinhamento vertical */
  letter-spacing: 0.02em; /* Leve espaçamento entre letras */
}
.myButton:hover {
  background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
  background-color: #0061a7;
}
.myButton:active {
  position: relative;
  top: 1px;
}
